
.main {
    min-height: 100%;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}

/* header --------------------------  */

header {
    padding: 2% 0px 6%;
    background: url(../images/headers.png) no-repeat 50% 50%;
    -moz-background-size: cover
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
    margin-bottom: 38px;
}

header h1 span {
    font-weight: 200;
}

header .buttons-wrapper {
    padding-top: 53px
}

header .buttons-wrapper .button-stripe {
    margin-left: 14px
}

.header-img {
    float: right
}

.header-wrapper {
    padding-top: 87px;
    max-width: 355px;
}
.header-wrapper h1,
.header-wrapper h2,
.header-wrapper h3,
.header-wrapper h4,
.header-wrapper h5,
.header-wrapper h6{color:white;}
.header-wrapper h6{font-size:18px; }
.header-wrapper a{font-size: 20px;font-weight: normal; color: #505050;text-decoration: underline;}
.header-wrapper a:hover{color: white;}
.button-white{font-size: 30px; padding: 10px 20px 10px 20px;}
.button-white:action {background-color: white;}

#intro{background-color:#fff; padding:6% 0px 3% 0px;}
#intro h3{padding-top: 6%;}
#intro-image{padding:10% 0px 0% 0px;}
#intro-image img{width:40%;padding-bottom: 7%;}

#section-one{background: url(../images/header1-1.png) no-repeat 50% 50%;background-size: 100% 100%; padding:60px 0px 60px 0px;}
#section-two{background:white; padding:60px 0px 60px 0px;}
#section-three{background: url(../images/header3-3.png) no-repeat 50% 50%;background-size: 100% 100%; padding:60px 0px 60px 0px;}
.section img{width: 90%;}
.section h3{padding-top: 10%;}
.shadow{-moz-box-shadow:    0px 0px 10px 1px #2e2e2e;
            -webkit-box-shadow: 0px 0px 10px 1px #2e2e2e;
            box-shadow:         0px 0px 10px 1px #2e2e2e;}
.shadow-grey{-moz-box-shadow:    0px 0px 10px 1px #b5b5b5;
            -webkit-box-shadow: 0px 0px 10px 1px #b5b5b5;
            box-shadow:         0px 0px 10px 1px #b5b5b5;}
.footer-black{padding:45px 0px 30px 0px;}

@media (max-width: 979px) { 
  .header-img {
      display: none
  }
  .header-wrapper {
      padding-top: 0;
      max-width: none;
  }
  header {
      text-align: center;
      font-size: 19px;
      line-height: 28px;
  }
  header .buttons-wrapper .button {
      margin-bottom: 20px
  }
}

/* ===[ Responsive just mobile portrait ]=== */

@media (max-width: 768px) { 
  header {padding: 9% 0px 9%;}
  header h1 {font-size: 46px;margin:0px;}
  header .buttons-wrapper {padding-top: 30px}

  #intro{padding:5% 0px 5% 0px;}
  #intro-image .col-md-4{padding: 20px 0px 25px 0px; }
  #intro h3{padding:0px;padding-top: 6%;font-size:30px;}
  #intro-image{padding:10% 0px 0% 0px;}
  #intro-image img{width:15%;padding-bottom: 7%;}

  #section-one,
  #section-two{padding:40px 0px 40px 0px;}
  #section-three{padding:40px 0px 50px 0px;}
  .section img{width: 100%;padding: 0px;}
  .section h3{padding: 5% 0px 0% 0px; line-height: 25px;}
}

@media (max-width: 479px) { 
  header .buttons-wrapper .button.button-stripe {margin-left: 0;}
  header {padding: 8% 0px 10%;}
  header h1 {font-size: 46px;margin:0px;}
  header .buttons-wrapper {padding-top: 30px}

  #intro{padding:13% 0px 5% 0px;}
  #intro-image .col-md-4{padding: 20px 0px 20px 0px; }
  #intro h3{padding:0px;padding-top: 6%;font-size:20px;}
  #intro-image{padding:10% 0px 0% 0px;}
  #intro-image img{width:30%;padding-bottom: 7%;}

  #section-one,
  #section-two{padding:20px 0px 20px 0px;}
  #section-three{padding:20px 0px 40px 0px;}
  .section img{width: 100%;padding: 0px;}
  .section h3{padding: 10% 0px 0% 0px; line-height: 25px;}
}



/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2;}
.navbar-inverse .navbar-brand { color: white;}

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar-inverse {background-color: #343434;border-color: #343434;}
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }
.navbar-inverse .navbar-nav>li>a{color:white;}
.navbar-inverse .navbar-nav>li>a:hover{color:#ade7de;}
.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}
.navbar {border-radius: 0px;}
@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}
